body {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
}

ul {
  padding-left: 0;
  list-style: none;
}

ul li {
  margin-bottom: 3px;
}

h1 p {
  margin: 0.2em 0;
  font-size: 0.5em;
}


codeblock {
  display: block;
  background-color: #F9F9F9;
  padding: 0.5em;
  padding-top: 0;
  border-top: 1px solid #4A4A4A;
  border-left: 1px solid #4A4A4A;
  border-right: 2px solid #D0021B;
  border-bottom: 2px solid #D0021B;
  margin-bottom: 0.3em;
}

codeblock p {
  margin: 0;
  margin-bottom: 1em;
}

tab {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1em;
}

.cheatsheet {
  margin: 50px auto;
  padding: 50px 50px;
  max-width: 750px;
  min-width: 670px;
  border: 3px solid #4A4A4A;
  background-color: #EFEFEF;
}

.cheatsheet-headline {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cheatsheet-sticker {
  margin-bottom: 2em;
  width: 30%;
}

.cheatsheet-container {
  display: flex;
  justify-content: space-between;
}


.cheatsheet-column {
  min-width: 50%;
}

.cheatsheet-section {
  padding: 1em;
}

.cheatsheet-section h1 {
  display: block;
  min-height: 2em;
  font-size: 1.5em;
}

.cheatsheet-section h2 {
  font-size: 1.1em;
  margin-bottom: 0.3em;
}

.cheatsheet-section__listing {
  border: 1px solid #4A4A4A;
  background-color: #F9F9F9;
  padding: 0.3em;
  display: flex;
  margin-bottom: 0.3em;
}

.cheatsheet-section__listing code {
  width: 50%;
}

.cheatsheet-section__listing span {
  flex-shrink: 100;
}
